body {
  background-color: red;
  color: blue;
  height: 100vh;
  padding-bottom: 100px; }

.main-wrapper {
  display: flex;
  flex-flow: column;
  height: 100%; }

.bar {
  width: 100vw;
  background-color: #9a9a9a;
  border: 1px solid #fff; }

.channel-bar,
.nav-bar {
  height: 50px; }

.video-container {
  width: 100vw;
  background-color: #000;
  flex: 2;
  overflow: auto; }

.playlist-container {
  height: 200px;
  background-color: #bbbbbb; }

.control-bar {
  min-height: 100px;
  position: fixed;
  bottom: 0; }
